@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

* {
  padding: 0;
  margin: 0;
}

/* ---- VARIÁVEIS GLOBAIS ---- */
:root {
    --azulClaro: #047EFF;
    --azulMedio: #0352A8;
    --azulEscuro: #011428;
    --brancoAzulado: #F1F0EC;
}

html{
  background-color: var(--brancoAzulado);
  scroll-behavior: smooth;
}



/* ---- NAVBAR ---- */
.navbar {
    background-color: var(--brancoAzulado);
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--brancoAzulado);
    position: fixed;
    z-index: 10;
    top: 0px;
    padding: 2%;
    width: 98%;
    height: 4%;
  }
  
  .logoNavbar {
    width: 4vh;
    height: 5vh;
    margin-left: 3vw;
  }
  
  .navbar img {
    margin-right: 20px;
  }
  
  .divLinks {
    margin-left: auto;
    display: flex;
    align-items: center;
  }

  .navbar img {
    margin-right: 20px;
  }
  
  .navbar .divLinks {
    margin-left: auto;
    display: flex;
    align-items: center;
  }
  
  .navbar .divLinks a {
    text-decoration: none;
    color: var(--azulMedio);
    margin-left: 2vw;
  }
  
  .divLinks p {
    text-decoration: none;
    color: var(--azulMedio);
    padding: 1vw;
    margin-left: 2vw;
    transition: 0.4s;
  }
  
  .divLinks p:hover {
    color: var(--azulClaro);
    border-radius: 5px;
  }
  
  .navbar .divPerfil {
    border-radius: 50%;
    width: 3vw;
    height: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2vw;
    cursor: pointer;
  }
  
  .navbar .divPerfil img {
    width: 5vh;
    height: 5vh;
  }
  
  .navbar .divCarrinho {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3vw;
    cursor: pointer;
  }
  
  .navbar .divCarrinho svg {
    width: 5vh;
    height: 5vh;
  }

  .navbar .divCarrinho path {
    transition: 0.4s;
  }

  .navbar .divCarrinho path:hover{
    stroke: var(--azulClaro);
  }
  
  .navbar .divPerfil svg {
    width: 6vh;
    height: 5vh;
  }

  .navbar .divPerfil path {
    transition: 0.4s;
  }

  .navbar .divPerfil path:hover{
    fill: var(--azulClaro);
  }



  /* ---- ELEMENTOS PADRÕES ---- */
.botaoBranco {
  background-color: var(--brancoAzulado);
  color: var(--azulMedio);
  width: 150px;
  height: 50px;
  border-radius: 25px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  transition-duration: 0.4s;
  font-family: Raleway;
}

.botaoBranco:hover {
  background-color: var(--azulEscuro);
  color: var(--brancoAzulado);
}

.botaoDesabilitado{
  background-color: var(--brancoAzulado);
  color: var(--azulEscuro);
  border: 2px solid var(--azulEscuro);
  opacity: 70%;
  font-family: Raleway;
  width: 150px;
  height: 50px;
  border-radius: 25px;
  font-size: 18px;
}

.botaoAzul {
  background-color: var(--azulClaro);
  color: var(--brancoAzulado);
  width: 150px;
  height: 50px;
  border-radius: 25px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  transition-duration: 0.4s;
  font-family: Raleway;
}

.botaoAzul:hover {
  background-color: var(--azulMedio);
  color: var(--brancoAzulado);
}

.botaoPagamento {
  width: 10vw; /* Definindo uma largura fixa para todos os botões */
  height: 2.5vw; /* Definindo a altura fixa */
  margin-right: 1vw;
  border: 2px solid var(--azulMedio);
  border-radius: 100px;
  background-color: var(--brancoAzulado);
  color: var(--azulEscuro);
  cursor: pointer;
  font-family: raleway;
  font-size: 11pt;
  text-align: center;
  display: flex;
  justify-content: center; /* Centraliza o texto horizontalmente */
  align-items: center; /* Centraliza o texto verticalmente */
  transition: 0.4s;
}

.botaoPagamento:hover{
  background-color: var(--azulMedio);
  color: var(--brancoAzulado);
}

/* Estilo de botões selecionados */
.selecionado {
  background-color: #0352A8FF !important;
  color: #fff;
  font-weight: bold;
}

.selecionado2 {
  background-color: #0352A8FF !important;
  color: var(--brancoAzulado);
  font-family: Raleway;
  font-size: 14pt;
}

.botaoMaisMenos{
  width: 2vw;
  height: 4.4vh;
  font-size: 12pt;
  cursor: pointer;
  border: 2px solid var(--azulMedio);
  transition: 0.4s;
}

.botaoMaisMenos:hover{
  background-color: var(--azulMedio);
  color: var(--brancoAzulado);
}

.imagemPadrao{
  width: 80%;
  height: 80%;
}

.inputBotaoMaisMenos{
  width: 2.5vw;
  height: 4vh;
  font-size: 13pt;
  cursor: pointer;
  font-family: raleway;
  text-align: center;
  background-color: var(--brancoAzulado);
  border: 2px solid var(--azulMedio);
}

.inputRadio {
  display: flex;
  margin-bottom: 10px;
}

.inputRadio input[type="radio"] {
  margin-right: 10px;
}

.inputLoginCadastro {
  width: 35vw;
  height: 5vh;
  border-radius: 20px;
  border: none;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 13pt;
  background-color: var(--brancoAzulado);
}

.inputAlterarEndereço {
  height: auto;
  border-radius: 20px;
  padding: 10px;
  text-align: start;
  font-size: 13pt;
  border: 2px solid #0352A8;
  margin-bottom: 1%;
}

.divBanner {
  align-items: left;
  justify-content: left;
  text-align: left;
  padding: 6% 15%;
  background: linear-gradient(to bottom, var(--azulClaro), var(--azulEscuro));
  height: 10vh;
}

.divBannerFundoBolinha {
  align-items: left;
  justify-content: left;
  text-align: left;
  padding: 6% 15%;
  background-image: url('../Imagens/imagemFundoBolinhas.svg');
  background-size: cover;
  background-position: center;
  height: 20vh;
}

.setaBranca-banner {
  height: 10vh;
  align-items: center;
  justify-content: center;
  display: flex;
}

#setaBranca {
  margin-bottom: 10vh;
}

.divBordaAzul {
  border: solid;
  border-color: var(--azulClaro);
  border-width: 2px;
  border-radius: 10px;
  margin: 3%;
}

.divBordaEscura{
  border: solid;
  border-color: var(--azulEscuro);
  border-width: 2px;
  border-radius: 10px;
  margin: 6% 15% 0 15%; 
}
  
.material-symbols-outlined { /*Icons*/
  font-variation-settings: 'FILL' 1, 'wght' 300, 'GRAD' 0, 'opsz' 24;
  transition: 0.4s;
}

.vazado { /*Icons*/
  font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
  transition: 0.4s;
}

.imagensPadrao{
  width: 20%;
  height: 20%;
  border-radius: 5%;
}

.imagensComHover{
  transition: all 0.5s;
  cursor: pointer;
}

.imagensComHover:hover{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.iconesComHover{
  color: var(--azulMedio);
  transition: 0.4s;
}

.iconesComHover:hover{
  color: var(--azulClaro);
}

.cardQuadrado {
  background-color: var(--azulMedio);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  height: 45vh;
  width: 45vh;
}

.logoBranca{
  width: 38%;
  height: 38%;
}

.margemPadrao{
  padding: 6% 15%;
}

.textoPadrao {
  text-align: justify;
  font-size: 14pt;
  font-family: "Raleway";
  color: var(--azulEscuro);
}

.textoPadraoBranco {
  text-align: justify;
  font-size: 14pt;
  font-family: "Raleway";
  color: var(--brancoAzulado);
}

.textoPequeno {
  text-align: justify;
  font-size: 12pt;
  font-family: "Raleway";
  color: var(--brancoAzulado);
}

.textoPequenoEscuro {
  text-align: justify;
  font-size: 12pt;
  font-family: "Raleway";
  color: var(--azulEscuro);
}

.tituloPadrao {
    font-family: "Raleway";
    font-size: 25pt;
    color: var(--azulEscuro);
}

.tituloPadraoBranco {
    font-family: "Raleway";
    font-size: 23pt;
    color: var(--brancoAzulado);
}

.tituloPequeno {
  font-family: "Raleway";
  font-size: 15pt;
  color: var(--azulClaro);
  margin-left: 2%;
  padding: 1%;
}
  
.padroesSecaoFlexDirectionColumn{
  display: flex;
  flex-direction: column;
  row-gap: 8vh;
}

.padroesSecaoFlexDirectionColumn-cartao{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.padroesSecaoFlexDirectionRow{
  padding: 5% 15%;
  display: flex;
  flex-direction: row;
  gap: 2vw;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: var(--azulClaro);
}

::-webkit-scrollbar {
  border-radius: 8px;
}

.separadorBaixo {
  width: 0;
  height: 0;
  border-right: 98.5vw solid transparent;
  border-bottom: 13.9vw solid var(--azulClaro);
  margin-top: -13.9vw;
  transform: scaleY(-1);
  margin-top: 0px;
}

.separadorBaixoBranco {
  width: 0;
  height: 0;
  border-right: 208.3vh solid transparent;
  border-bottom: 13vw solid var(--brancoAzulado);
  margin-top: -13.9vw;
  transform: scaleX(-1);
  margin-top: 0px;
  background-image: url('../Imagens/imagemFundoBolinhas.svg');
}



/* CARROSSEL */
.carrossel-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  background-color: #0352A8;
}

.carrossel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #F1F0ECFF;
  border: 2px solid var(--azulMedio);
  transition: all 0.3s ease;
}

.item {
  min-width: 100%;
  box-sizing: border-box;
  padding-top: 3vh;
  padding-bottom: 3vh;
}

.nav-esquerda,
.nav-direita {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--azulMedio);
  border: none;
  color: var(--brancoAzulado);
  padding: 2vh;
  cursor: pointer;
  font-size: 20pt;
}

.nav-esquerda {
  left: 4vw;
}

.nav-direita {
  right: 4vw;
}



/* CSS DAS TABS */
.divTab{
 justify-items: space-between;
}

.botaoTab{
  border: none;
  flex: 1;
  text-align: right;
  opacity: 50%;
  background-color: var(--brancoAzulado);
  width: 22.9vw;
  padding-bottom: 1vh;
}

.botaoTab:hover {
  opacity: 100%;
  color: var(--azulClaro);
}

.botaoTab.active {
  opacity: 100%;
  border-bottom: 2px solid var(--azulClaro);
}

.botaoCarrinho{
  border: none;
  border-radius: 100%;
  border-color: var(--azulEscuro);
  background-color: var(--azulEscuro);
  width: 8vh;
  height: 8vh;
  transition: 0.4s;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 70%;
  left: 40%;
}

.botaoCarrinho:hover{
  background-color: #0352A8;
}

[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}

.grid{
  display: grid;
  grid-template-columns: 15% 42% 8% 31%;
  column-gap: 1%;
  grid-template-rows: repeat(3 1fr);
  row-gap: 5%;
}



/* SEÇÃO ESPECÍFICA DA PÁG. ROTAS */
.secaoRotasFlexDirectionRow{
  display: flex;
  flex-direction: row;
  gap: 2vw;
  justify-content: space-between;
}

.secaoDescricaoProduto{
  align-items: center;
  justify-content: center;
  text-align: center;
  background: linear-gradient(to bottom, var(--azulClaro), var(--azulMedio));
  color: #007BFF;
  height: 40vw;
  display: flex;
}

/* AVALIAÇÕES */
#divBarrasAvaliacao-divAvaliacaoProduto-divDadosProduto-secaoDescricaoProduto{
  min-height: 50%;
  display: grid;
  place-items: center;

}

.gridDoisEspacos{
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.divAvaliacoes{
  width: 100%;
  display: flex;
  align-items: center;
  column-gap: 2rem;
  justify-content: center;
}

.divMedia {
  width: 30%;
  text-align: center;
  padding: 1rem;
}

.divMedia h1{
  font-size: 3rem;
}

.divMedia p{
  margin-top: .7rem;
  letter-spacing: .1rem;

}

.divProgresso {
  width: 70%;
}

.divValorProgresso{
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  column-gap: 1rem;
}

.divValorProgresso .divEstrelas{
  font-size: 1.2rem;

}

.divValorProgresso p:last-child{
  width: 10%;
}

.divProgresso .divBarrasProgresso{
  flex: 1 1 0;
  height: .5rem;
  border-radius: .5rem;
  background-color: var(--azulEscuro);
}

.divBarraIndividual {
  height: 100%;
  background-color: var(--azulClaro);
  border-radius: .5rem;
}

.divMedia .divOrganizacaoEstrelas {
  position: relative;
  font-size: 2rem;
  display: inline-block;
}

.divMedia .divOrganizacaoEstrelas::before {
  content: "\2605 \2605 \2605 \2605 \2605";
  color: var(--azulMedio);
}

.divMedia .divEstrelas{
  position: absolute;
  left: 0;
  top: 0;

  width: 50%;
  overflow: hidden;
}

.divMedia .divEstrelas::before {
  content: "\2605 \2605 \2605 \2605 \2605";
  color: var(--azulClaro);
  font-size: 2rem;
}


/* ACORDEÃO DO FAQ */
.accordion {
  background-color: #F1F0ECFF;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  outline: none;
  transition: 0.4s;
  border: 2px solid #042951;
  margin-bottom: 2vh;
  font-size: 14pt;
  font-family: Raleway;
  color:  #042951;
}

.negritoLeve{
  font-weight: 600;
}

.active,
.accordion:hover {
  background-color: #F1F0ECFF;
}

.panel {
  background-color: #F1F0ECFF;
  display: none;
  overflow: hidden;
  border: 2px solid #042951;
  margin-top: 2vh;
  margin-bottom: 2vh;
  padding: 2vh 2vh 2vh 2vh;
}

#secaoAccordion {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  
}

.accordion.active {
  margin-bottom: 0px;
  background-color: #0352A8FF;
  color: #F1F0ECFF;
}


/* ---- FOOTER ---- */

footer {
  margin-top: 8%;
  background-color: var(--azulMedio);
  padding: 2% 15%;
  text-align: center;
}

footer p{
  margin-top: 3%;
}

.margemSuperior{
  margin-top: 5%;
}

