@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
}

/* ---- VARIÁVEIS GLOBAIS ---- */
:root {
    --azulClaro: #047EFF;
    --azulMedio: #0352A8;
    --azulEscuro: #011428;
    --brancoAzulado: #F1F0EC;
}

html{
  background-color: var(--brancoAzulado);
}



/* ---- NAVBAR ---- */
.navbar {
    background-color: var(--brancoAzulado);
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--brancoAzulado);
    padding: 4vh;
  }
  
  .logoNavbar {
    width: 4vh;
    height: 5vh;
    margin-left: 3vw;
  }
  
  .navbar img {
    margin-right: 20px;
  }
  
  .divLinks {
    margin-left: auto;
    display: flex;
    align-items: center;
  }

  .navbar img {
    margin-right: 20px;
  }
  
  .navbar .divLinks {
    margin-left: auto;
    display: flex;
    align-items: center;
  }
  
  .navbar .divLinks a {
    text-decoration: none;
    color: var(--azulMedio);
    margin-left: 2vw;
  }
  
  .divLinks p {
    text-decoration: none;
    color: var(--azulMedio);
    padding: 1vw;
    margin-left: 2vw;
    transition: 0.4s;
  }
  
  .divLinks p:hover {
    color: var(--azulClaro);
    border-radius: 5px;
  }
  
  .navbar .divPerfil {
    border-radius: 50%;
    width: 3vw;
    height: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2vw;
    cursor: pointer;
  }
  
  .navbar .divPerfil img {
    width: 5vh;
    height: 5vh;
  }
  
  .navbar .divCarrinho {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3vw;
    cursor: pointer;
  }
  
  .navbar .divCarrinho svg {
    width: 5vh;
    height: 5vh;
  }

  .navbar .divCarrinho path {
    transition: 0.4s;
  }

  .navbar .divCarrinho path:hover{
    stroke: var(--azulClaro);
  }
  
  .navbar .divPerfil svg {
    width: 6vh;
    height: 5vh;
  }

  .navbar .divPerfil path {
    transition: 0.4s;
  }

  .navbar .divPerfil path:hover{
    fill: var(--azulClaro);
  }



  /* ---- ELEMENTOS PADRÕES ---- */
  .divBanner {
    align-items: left;
    justify-content: left;
    text-align: left;
    padding: 6% 15%;
    background: linear-gradient(to bottom, #095DB7, #042951);
    color: var(--azulMedio);
    height: 10vh;
  }

.logoBranca{
  width: 38%;
  height: 38%;
}

.tituloPadrao {
    font-family: "Raleway";
    font-size: 25pt;
    color: var(--azulEscuro);
}

.tituloPadraoBranco {
    font-family: "Raleway";
    font-size: 23pt;
    color: var(--brancoAzulado);
}

.botaoBranco {
    background-color: var(--brancoAzulado);
    color: var(--azulMedio);
    width: 150px;
    height: 50px;
    border-radius: 25px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.botaoBranco:hover {
    background-color: var(--azulEscuro);
    color: var(--brancoAzulado);
}

.textoPadrao {
    text-align: justify;
    font-size: 14pt;
    font-family: "Raleway";
    color: var(--azulEscuro);
}

.textoPadraoBranco {
    text-align: justify;
    font-size: 14pt;
    font-family: "Raleway";
    color: var(--brancoAzulado);
}

.textoPequeno {
    text-align: justify;
    font-size: 12pt;
    font-family: "Raleway";
    color: var(--brancoAzulado);
}

.padroesSecaoFlexDirectionRow{
  padding: 6% 15%;
  display: flex;
  flex-direction: row;
  gap: 2vw;
}

.padroesSecaoFlexDirectionColumn{
  display: flex;
  flex-direction: column;
}

.secaoRotasFlexDirectionRow{
  display: flex;
  flex-direction: row;
  gap: 2vw;
  justify-content: space-between;
}

.imagensPadrao{
  width: 20%;
  height: 20%;
}



/* ---- FOOTER ---- */

footer {
    background-color: #042951;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .footer-left {
    display: flex;
    align-items: center;
  }
  
  .footer-left .footer-logo {
    margin-right: 30px;
  }
  
  .footer-left ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-left ul li {
    margin-bottom: 10px;
  }
  
  .footer-left ul li a {
    text-decoration: none;
    color: #F1F0ECFF;
  }
  
  .footer-left ul li a:hover {
    text-decoration: underline;
  }
  
  .footer-right ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-right ul li {
    margin-bottom: 10px;
  }
  
  .footer-right ul li a {
    text-decoration: none;
    color: #F1F0ECFF;
  }
  
  .footer-right ul li a:hover {
    text-decoration: underline;
  }