@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
}

/* ---- VARIÁVEIS GLOBAIS ---- */
:root {
    --azulClaro: #047EFF;
    --azulMedio: #0352A8;
    --azulEscuro: #011428;
    --brancoAzulado: #F1F0EC;
}

html{
  background-color: var(--brancoAzulado);
}



/* ---- NAVBAR ---- */
.navbar {
    background-color: var(--brancoAzulado);
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--brancoAzulado);
    position: fixed;
    z-index: 1;
    top: 0px;
    padding: 2%;
    width: 98%;
  }
  
  .logoNavbar {
    width: 4vh;
    height: 5vh;
    margin-left: 3vw;
  }
  
  .navbar img {
    margin-right: 20px;
  }
  
  .divLinks {
    margin-left: auto;
    display: flex;
    align-items: center;
  }

  .navbar img {
    margin-right: 20px;
  }
  
  .navbar .divLinks {
    margin-left: auto;
    display: flex;
    align-items: center;
  }
  
  .navbar .divLinks a {
    text-decoration: none;
    color: var(--azulMedio);
    margin-left: 2vw;
  }
  
  .divLinks p {
    text-decoration: none;
    color: var(--azulMedio);
    padding: 1vw;
    margin-left: 2vw;
    transition: 0.4s;
  }
  
  .divLinks p:hover {
    color: var(--azulClaro);
    border-radius: 5px;
  }
  
  .navbar .divPerfil {
    border-radius: 50%;
    width: 3vw;
    height: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2vw;
    cursor: pointer;
  }
  
  .navbar .divPerfil img {
    width: 5vh;
    height: 5vh;
  }
  
  .navbar .divCarrinho {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3vw;
    cursor: pointer;
  }
  
  .navbar .divCarrinho svg {
    width: 5vh;
    height: 5vh;
  }

  .navbar .divCarrinho path {
    transition: 0.4s;
  }

  .navbar .divCarrinho path:hover{
    stroke: var(--azulClaro);
  }
  
  .navbar .divPerfil svg {
    width: 6vh;
    height: 5vh;
  }

  .navbar .divPerfil path {
    transition: 0.4s;
  }

  .navbar .divPerfil path:hover{
    fill: var(--azulClaro);
  }



  /* ---- ELEMENTOS PADRÕES ---- */
  .divBanner {
    align-items: left;
    justify-content: left;
    text-align: left;
    padding: 6% 15%;
    background: linear-gradient(to bottom, #095DB7, #042951);
    color: var(--azulMedio);
    height: 10vh;
  }

.logoBranca{
  width: 38%;
  height: 38%;
}

.tituloPadrao {
    font-family: "Raleway";
    font-size: 25pt;
    color: var(--azulEscuro);
}

.tituloPadraoBranco {
    font-family: "Raleway";
    font-size: 23pt;
    color: var(--brancoAzulado);
}

.botaoBranco {
    background-color: var(--brancoAzulado);
    color: var(--azulMedio);
    width: 150px;
    height: 50px;
    border-radius: 25px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.botaoBranco:hover {
    background-color: var(--azulEscuro);
    color: var(--brancoAzulado);
}

.botaoAzul {
  background-color: var(--azulClaro);
  color: var(--brancoAzulado);
  width: 150px;
  height: 50px;
  border-radius: 25px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.botaoAzul:hover {
  background-color: var(--azulMedio);
  color: var(--brancoAzulado);
}

.divTab{
 justify-items: space-between;
}

.botaoTab{
  border: none;
  flex: 1;
  text-align: right;
  opacity: 50%;
  background-color: var(--brancoAzulado);
  width: 22.9vw;
  padding-bottom: 1vh;
}

.botaoTab:hover {
  opacity: 100%;
  color: var(--azulClaro);
}

.botaoTab.active {
  opacity: 100%;
  border-bottom: 2px solid var(--azulClaro);
}

[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}

.textoPadrao {
    text-align: justify;
    font-size: 14pt;
    font-family: "Raleway";
    color: var(--azulEscuro);
}

.textoPadraoBranco {
    text-align: justify;
    font-size: 14pt;
    font-family: "Raleway";
    color: var(--brancoAzulado);
}

.textoPequeno {
    text-align: justify;
    font-size: 12pt;
    font-family: "Raleway";
    color: var(--brancoAzulado);
}

.padroesSecaoFlexDirectionRow{
  padding: 5% 15%;
  display: flex;
  flex-direction: row;
  gap: 2vw;
}

.padroesSecaoFlexDirectionColumn{
  display: flex;
  flex-direction: column;
  row-gap: 8vh;
}

.secaoRotasFlexDirectionRow{
  display: flex;
  flex-direction: row;
  gap: 2vw;
  justify-content: space-between;
}

.divBordaEscura{
  border: solid;
  border-color: var(--azulEscuro);
  border-width: 2px;
  border-radius: 10px;
  margin: 6% 15% 0 15%;
}

.imagensPadrao{
  width: 20%;
  height: 20%;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: var(--azulClaro);
}

::-webkit-scrollbar {
  border-radius: 8px;
}



/* ---- FOOTER ---- */

footer {
  margin-top: 8%;
  background-color: var(--azulEscuro);
  padding: 5% 15%;
  text-align: center;
}

footer p{
  margin-top: 3%;
}